*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-palette-values --myPalette {
    font-family: "Nabla";
    base-palette: 5;
    override-colors: 6 #006400;
  }

body {
    background-color: var(--background-color-bg);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.project-y {
    font-family: var(--font-family-2);
    font-size: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-palette: --myPalette;


    .title-py-big {
        font-size: 80px;
        width: fit-content;
        height: fit-content;
    }
}

.page-content {
    display: flex;
    flex-direction: column;
    text-align: center;

    .work-in-progress {
        font-family: var(--font-family-3);
        color: var(--general-text-cl);
        font-size: 40;
    }
}