@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body {
    --font-family-1: "Roboto";
}

body{
    --font-size-1: 24px;
    --font-size-2: 60px;
    --font-size-3: 35px;
}


body {
    --background: #121212; 
    --surface: #1e1e1e;
    --on-top-surface: #444444;

    --primary: #c14e66; /*used for anything on surface*/
    --secondary: #b5b78e; /*general buttons*/

    --error: #b00020;
    --on-error: #ffffff;

    /*fonts*/
    --on-background: #dfdfdf;
    --on-surface: #e1e1e1;
    --on-primary: #050306;
    --on-secondary: #000101;
}

