---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Skill from '../components/Skill.astro';
import SkillImage from '../components/SkillImage.astro';
import Navbar from '../components/Navbar.astro';
import ActivityStatus from '../components/ActivityStatus';
import ProjectCard from '../components/ProjectCard.astro';
import Age from '../components/Age';
---

<Layout title="Jodek">
	<main class="bg-dark">
		<div class="mx-auto min-h-screen max-w-[800px]">
			<Navbar />
			<Header
			title="Jodek"
			smallText="Hi! I'm"
			/>
			<Age />
			<div class="flex flex-row flex-wrap m-5 gap-4 mb-7">
				<ActivityStatus client:load />
			</div>
			<div class="px-5">
				<div class="flex flex-row text-emerald-50 font-mono mb-5">
					<span class="text-4xl pr-4">Skills</span>
					<p class="pr-2">windows</p>
					<p class="pr-2">macOS</p>
					<p class="pr-2">VSCode</p>
				</div>
				<div class="flex flex-row flex-wrap gap-5">
					<Skill
					text="Deno"
					icon="bx bx-terminal"
					/>
					<Skill
					text="HTML"
					icon="bx bxl-html5"
					/>
					<Skill
					text="Tailwind"
					icon="bx bxl-tailwind-css"
					/>
					<Skill
					text="Bootstrap"
					icon="bx bxl-bootstrap"
					/>
					<SkillImage
					text="Astro"
					imgSrc="/src/assets/astro-icon-logo_white.png"
					/>
					<SkillImage
					text="SolidJS"
					imgSrc="/src/assets/solidjs-icon.png"
					/>
				</div>
				<div class="border border-emerald-200 rounded my-5"></div>
				<div class="flex flex-row flex-wrap gap-5 mb-7">
					<Skill
					text="Typescript"
					icon="bx bxl-typescript"
					/>
					<Skill
					text="Javascript"
					icon="bx bxl-javascript"
					/>
					<Skill
					text="SQL - learning"
					icon="bx bx-data"
					/>
					<SkillImage
					text="C - learning"
					imgSrc="/src/assets/c-icon.png"
					/>
					<SkillImage
					text="C# - learning"
					imgSrc="/src/assets/c-sharp-c-icon.png"
					/>
				</div>
			</div>
			<div class="px-5">
				<span class="text-4xl pr-4 text-emerald-50 font-mono">Projects</span>
				<div class="flex flex-col mt-1 gap-5 pb-10">
					<ProjectCard
					title="Minecraft datapacks"
					text="I've created a lot of Minecraft datapacks, with the goal of adding missing things and making the game more enjoyable. Over 100k downloads on modrinth!"
					imgSrc="/src/assets/165845149.png"
					link1="https://modrinth.com/user/Jodek"
					link2="https://github.com/jodeks-datapacks"
					link1Text="Modrinth"
					link2Text="Github"
					/>
					<ProjectCard
					title="FwHn Thüringen"
					text="Website built for a local handball suport association. Built with Bootstrap and SolidJS."
					imgSrc="/src/assets/FWHN_Logo_final_für_Hintergrund_dunkel.svg"
					link1="https://github.com/whn-thueringen/whn-thueringen.github.io"
					link2="https://whn-thueringen.de"
					link1Text="Website"
					link2Text="Github"
					/>
					<ProjectCard
					title="Plate Pilot"
					text="Website to manage what you eat. When, What, How Much. Im still working on this one and the website is just a prototype."
					imgSrc="/src/assets/157134739.png"
					link1="https://platepilot.github.io/"
					link2="https://github.com/PlatePilot"
					link1Text="Website"
					link2Text="Github"
					/>
					<ProjectCard
					title="My Website"
					text="My personal website you're looking at, built with Astro and TailwindCSS. There's also a linktree!"
					imgSrc="/src/assets/ProfileImageWebsiteJodek_307x305.webp"
					link1="https://github.com/Jodekq/Jodekq.github.io"
					link2="https://jodek.dev/linktree"
					link1Text="Linktree"
					link2Text="Github"
					/>
				</div>
			</div>
		</div>
	</main>
</Layout>
