---
interface Props {
    name: string;
    ImgSrc: string;
    fact1: string;
    fact2: string;
    fact3: string;
}

const { name, ImgSrc, fact1, fact2, fact3 } = Astro.props;
---

<div class="flex flex-col items-center gap-5 pb-14">
  <img class="h-28" src={ ImgSrc } alt="Jodek Profile Picture">
  <div class="relative">
    <span class='absolute top-1 left-1 text-5xl font-mono text-emerald-500'>{ name }</span>
    <span class='relative text-5xl font-mono text-emerald-50'>{ name }</span>
  </div>
  <div class="flex text-emerald-50 gap-2 font-mono">
    <div>{ fact1 }</div>
    <p>||</p>
    <div>{ fact2 }</div>
    <p>||</p>
    <div>{ fact3 }</div>
  </div>
</div>