---
const { listeningTo, onlineStatus } = Astro.props;
---
<div class="flex flex-row items-center border border-emerald-200 rounded-lg justify-between px-5 h-16 pb-1 font-sans text-xl text-emerald-50 gap-3">
  <i class="bx bxl-discord-alt text-2xl"></i>
  <div class="max-w-sm p-2  flex flex-col">
    <div class="flex items-center  gap-3">
      <span>@jodek</span>
    </div>
    <div class="flex items-center text-sm">
      <div class={`w-2.5 h-2.5 rounded-full mr-2 ${onlineStatus ? 'bg-green-500 animate-pulse' : 'bg-red-500'}`}></div>
      <span>{onlineStatus ? 'Online' : 'Offline'}</span>
    </div>
  </div>
  <a href="https://discord.com/users/Jodek" target="_blank"><i class="bx bx-link-external cursor-pointer p-4 text-gray-400"></i></a>
</div>


<div class="px-5 border border-emerald-200 rounded-lg font-sans h-16 content-center">
  {listeningTo && (
    <div class="italic text-emerald-50 flex flex-row items-center gap-3 p-2">
      <i class="bx bxl-spotify text-2xl"></i>
      {listeningTo && listeningTo.trim().toLowerCase() !== 'nothing' && listeningTo.trim() !== '' ? `Listening to: ${listeningTo}` : 'Nothing playing'}
    </div>
  )}
</div>