---
interface Props {
    title: string;
    smallText: string;
}

const { smallText, title } = Astro.props;
---

<div class="flex items-center p-5">
  <img src="../../public/ProfileImageWebsiteJodek_307x305.webp" alt="Logo" class="p-1 border-2 border-emerald-500 rounded-full md:max-w-40 max-w-28 h-auto"/>
  <div class="ml-4 flex flex-col">
    <span class='text-xl md:text-3xl font-mono text-emerald-50'>{ smallText }</span>
    <div class="relative">
      <span class='absolute top-1 left-1 md:text-9xl text-5xl font-title text-emerald-500'>{ title }</span>
      <span class='relative md:text-9xl text-5xl font-title text-emerald-50'>{ title }</span>
    </div>
  </div>
</div>

