---
const socialLinks = [
  { href: 'https://twitter.com/yourprofile', label: 'bx bxl-twitter' },
  { href: 'https://github.com/yourprofile', label: 'bx bxl-github' },
  { href: 'https://linkedin.com/in/yourprofile', label: 'bx bxl-linkedin' }
];
---

<nav class="flex justify-between items-center p-4 text-emerald-50">
  <a href="/" class="no-underline text-xl">/</a>
  <div class="flex">
    {socialLinks.map(link => (
      <a href={link.href} target="_blank" rel="noopener noreferrer" class="ml-4 text-xl">
        <i class={link.label}></i>
      </a>
    ))}
  </div>
</nav>