---
interface Props {
    text: string;
    icon: string;
    class: string;
}

const { text, icon, class: className, ...rest } = Astro.props;
---

<div class:list={['child-component', className]} {...rest}>
  <div class="flex items-center p-2">
    <div class="text-xl text-emerald-50">
      <i class={icon}></i>
    </div>
    <span class="text-base font-sans text-emerald-50 text-base pr-1 pl-2">{ text }</span>
  </div>
</div>
